<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>{{ hadoop_core_site_fs_defaultFS }}</value>
  </property>
  <property>
    <name>dfs.journalnode.edits.dir</name>
    <value>{{ hadoop_hdfs_site_dfs_jn }}</value>
  </property>

</configuration>